.card.hover-effect {
transition: border-color 0.3s, transform 0.3s;
}


.card.hover-effect:hover {
border-color: #070707;
transform: translateY(-5px);
}

span.error {
color: red;
}

.mecustom-card:hover {
transform: scale(1.05);
box-shadow: 0 0 10px #070707;
border-color: #070707;
}

.mecustom-card {
transition: 0.5s;
cursor: pointer;
}
